* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    
} 
body {
    background-color: rgb(64, 148, 64);
    width: 100vw;
    height: auto;
    overflow-x: hidden;


}

header {
    height: 130px;
    background-color: whitesmoke;
    display: flex;
    
}
.logo {
    padding: 10px;
    border-radius: 30px;
}
.nav-bar {
    float: right;
    
}ul { 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10vw;
        
}ul li{
    list-style: none;
    margin: 29px;
    font-size: 3vw
}ul li a{
    text-decoration: none;
    color: black;
}

ul li button {
    width: 10vw;
    background-color: #16B669;
    height: 50px;
    font-size: 1vw;
    font-weight: 700;
    border-radius: 15px;
    margin-bottom: 12px;
    color: #000;
    /* color: #80e5b4; */
}
.home-div {
    width: 100vw;
    height: 500px;
    /* height: auto; */
    display: flex;
    background-image:url(./image-school/schoo;-project.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* linear-gradient(#16B669, #80e5b4)  */
    /* background-attachment: fixed; */

}
.school-name {
    /* background:linear-gradient(#16B669, #75807b) #16B669; */
    color: white;
    text-align: center;
    font-size: 2vw;
    width: 40vw;
    padding-top: 25vh;
    margin-left: 10vw;
}
.value {
    padding-left: 8vw;
    color: white;
    text-align: start;
    font-size: 1vw;
    width: 40vw;
    padding-top: 25vh;
    margin-right: 10vw;
}
.value ol li {
    text-decoration: none;
}
.school-motto {
    height: 130px;
    width: auto;
    background-color: white;
}

.school-motto h1 {
    text-align: center;
    padding-top: 37px;
    font-size: 3vw;
}
/* footer {
    height: 200px; 
    background: #1b1f1d; 
} */