* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    
} 
html {
    scroll-behavior: smooth;
  }
body {
    background-color: #16B669;
    width: 100vw;
    height: auto;
    overflow-x: hidden;
    

}


/*styles for header */


header {
    height: 130px;
    background-color: whitesmoke;
    display: flex;
}

.logo {
    padding: 10px;
    border-radius: 30px;
}

.nav-bar {
    float: right;
    scroll-behavior: smooth;
}

.nav-bar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10vw;
}

.nav-bar ul li {
    list-style: none;
    margin: 29px;
    font-size: 2vw;
}

.nav-bar li a {
    text-decoration: none;
    color: black;
}
.nav-bar a:hover {
    background-color: #16B669;
    color: white;

}

.nav-bar li button {
    width: 10vw;
    background-color: #16B669;
    height: 50px;
    font-size: 1vw;
    font-weight: 700;
    border-radius: 15px;
    margin-bottom: 12px;
    color: #000;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .nav-bar ul {
        margin-left: 0;
        justify-content: flex-end;
    }

    .nav-bar ul li {
        margin: 10px;
        font-size: 14px;
    }
    
    .nav-bar li button {
        width: auto;
        font-size: 12px;
    }
}




/* ****** home content************** */


.home-div {
    width: 100vw;
    height: 55.8vh;
    display: flex;
    background-image: url(./image-school/erika-fletcher-MZxqc6n9qCw-unsplash-modified.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* opacity: 0.7; */
    filter: brightness(50%);
}

.school-name {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 2vw;
    width: 40vw;
    padding-top: 25vh;
    margin-left: 10vw;
    opacity: 0.9;
    filter: brightness(200%);

}

.value {
    padding-left: 8vw;
    color: white;
    text-align: start;
    font-size: 1vw;
    width: 40vw;
    padding-top: 25vh;
    margin-right: 10vw;
    filter: brightness(200%);

}

.value ol li {
    text-decoration: none;
    list-style: none;
}

.school-motto {
    height: 130px;
    width: auto;
    background-color: white;
}

.school-motto h1 {
    text-align: center;
    padding-top: 37px;
    font-size: 3vw;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .home-div {
        height: auto;
        background-size: cover;
        filter: brightness(50%);
    }

    .school-name {
        font-size: 4vw;
        padding-top: 10vh;
        margin-left: 5vw;
        
    }

    .value {
        padding-left: 5vw;
        font-size: 2vw;
        padding-top: 10vh;
        margin-right: 5vw;
    }

    .school-motto h1 {
        font-size: 6vw;
    }
}

/* *******************add style to footer ******************* */
footer {
    height: 150px;
  }
  
  .main-footer {
    height: 150px;
    background: #16B669;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10vw;
    padding-right: 10vw;
  }
  
  footer h3 {
    text-align: center;
  }
  
  .about h1,
  .contact h1,
  .curricular h1 {
    color: white;
    padding: 10px;
  }
  
  .about ul li,
  .contact ul li,
  .curricular ul li {
    list-style: none;
    font-size: 1vw;
    color: white;
    padding: 5px;
  }
  
  .about ul li i {
    color: #000;
  }
  
  .about ul li a,
  .contact ul li a,
  .curricular ul li a {
    color: white;
    text-decoration: none;
  }
  
  .about a:hover,
  .contact a:hover,
  .curricular a:hover {
    color: black;
    font-size: 1.2vw;
  }
  
  @media screen and (max-width: 768px) {
    .main-footer {
        flex-direction: column;
        padding: 10px;
      }
      
      .about h1,
      .contact h1,
      .curricular h1 {
        font-size: 18px;
        padding: 5px;
      }
      
      .about ul li,
      .contact ul li,
      .curricular ul li {
        font-size: 14px;
        padding: 3px;
      }
      
      footer h3 {
        font-size: 14px;
      }
    }
  

/* *********************start and book visit************************** */
/* Styles for larger screens */
    
.body-admin {
    background-image: url(./image-school/erika-fletcher-MZxqc6n9qCw-unsplash-modified.jpg);
    background-color: transparent;
    background-color: #16B669; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    opacity: 0.9;
    color: white;
}
.headline {
    height: 80px;
    width: 100vw;
    /* background-color: #16B669; */

}
.headline h1 {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2vw;
    padding: auto;
}
.admission-visit {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 67.3vh;
    width: 70vw;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-image: url(./image-school/school-project.jpeg);
    background-color: #16B669; */
    /* border: 3px solid whitesmoke; */
    /* border-radius: 15px; */
    /* opacity: 0.7; */
    /* filter: brightness(60%); */
}
  
.admission, .visit {
    
    width: 40vw;
    color: rgb(15, 15, 15);
    font-weight: 700;
    font-size: 1.5vw;
    margin: 1.5vw;
    border-radius: 15px;
    border: 2px solid #16B669;
}
.visit h3, h4 {
    color: #EDE3E3;
}
.visit {
    color: #eef6f2;
}

  
.admission h2, .content h3 {
    font-size: 2vw;
    text-align: center;
    color: white;
}
  
.content p {
    font-size: 1.2vw;
    padding: 15px;
    color: white;
}
  
    .apply, .visitbtn {
    width: 15vw;
    height: 45px;
    border-radius: 15px;
    text-align: center;
    background-color: #16B669;
    margin-left: 4vw;
    color: white;
    font-size: 1.2vw;
    font-weight: 700;
}
  
      /* Styles for smaller screens */
    @media screen and (max-width: 768px) {
    .admission-visit {
        flex-direction: column;
        width: 90vw;
        padding: 20px;
    }
  
    .admission, .visit {
        width: 100%;
        font-size: 4vw;
        margin: 10px 0;
    }
  
    apply, .visitbtn {
        width: 100%;
        font-size: 2.5vw;
    }
  
    .content p {
        font-size: 3vw;
        padding: 10px;
    }
}


/* **************log in**************** */

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 69.5vh;
    background-color: #16B669;
    background-image: url("./image-school/robin-worrall-QaYcPAO6SIc-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
}

.login-box {
    position: relative;
    width: 90%;
    max-width: 400px;
    height: auto;
    margin: 0 auto;
    padding: 30px;
    background-color: rgba(22, 182, 105, 0.9);
    border: 3px solid #16B669;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(15px);
}

.login-box h1 {
    font-size: 3em;
    /* color: #16B669; */
    text-align: center;
    margin-bottom: 30px;
}

.input-box {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
}

.input-box label {
    position: absolute;
    top: -15px;
    left: 5px;
    font-size: 1em;
    color: white;
    pointer-events: none;
    transition: .5s;
}
.input-box .icon {
    position: absolute;
    right: 8px;
    
    font-size: 1.5em;
    line-height: 50px;
}
.input-box input:focus~label,
.input-box input:valid~label {
    top: -10px;
    font-size: 0.9em;
    transition: .5s;
}

.input-box input {
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #EDE3E3;
    padding: 5px;
    border-bottom: 2px solid black;
}

.remember-forgot {
    margin-bottom: 15px;
    font-size: .9em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remember-forgot a {
    color: white;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
    color: #000402;
}

.loginbtn {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    outline: none;
    border: none;
    background-color: #eef6f2;
    cursor: pointer;
    font-size: 1em;
    color: rgb(7, 6, 6);
    font-weight: 700;
    margin-bottom: 20px;
}

.register-link {
    font-size: .9em;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

.register-link p a {
    text-decoration: none;
    font-weight: 600;
    color: wheat;
}

.register-link p a:hover {
    text-decoration: underline;
    color: #000704;
}
/* **************************Student Profile********************************************** */
.data-base {
    width: 60vw;
    height: 72.5vh;
    background-image: url(./image-school/undraw_app_data_re_vg5c-modified.png);
    background-color: #EDE3E3;
    display: flex;
    margin-left: 20vw;
    border-radius: 15px;
    opacity: 9;
}

#newStudentinfo {
    width: 20vw;
    /* background-color: darkorchid; */
    padding: 15px;
    padding-left: 5vw;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 15px;
}
#newStudentinfo h2 {
    padding: 15px;
    font-size: 1.5vw;
}

#newStudentinfo input{
    height: 30px;
    width: 12vw;
    font-size: 1vw;
    padding: 15px;
    border-radius: 10px;
}
#databasebtn {
    height: 30px;
    width: 12vw;
    border-radius: 10px;
    background-color: #16B669;

}

#school-data {
    width: 20vw;
    /* background-color: brown; */
    padding: 15px;
    padding-left: 2.5vw;
    justify-content: center;
    align-content: center;
    align-items: center;
}
#school-data h2 {
    padding: 15px;
    font-size: 1.5vw;
}

#student-name {
    font-size: 1vw;
    padding: 10px;

}
#student-name li {
    border: 2px solid #16B669;
    height: 30px;
    width: 8vw;
    border-radius: 10px;
    text-align: center;
}
#student-profile {
    width: 20vw;
    /* background-color: aquamarine; */
    padding: 15px;
    padding-left: 5vw;
    justify-content: center;
    align-content: center;
    align-items: center;
}
#student-profile h2 {
    padding: 20px;
    font-size: 2vw;
}
#student-profile p {
    font-size: 1.5vw;
    padding: 15px;
}